<div class="container">
  <div class="row">
    <div *ngFor="let following of followings" class="col-md-2 col-sm-4 mb-3">
      <app-user-avtar-card
        [userName]="following.FirstName + ' ' + following.LastName"
        [image]="following.Image"
      >
      </app-user-avtar-card>
      <div class="d-flex align-items-center justify-content-center">
        <button
          (click)="onUnfollow(following.ID)"
          class="btn btn-primary unfollow"
        >
          Unfollow
        </button>
      </div>
    </div>
    <div *ngIf="followings.length <= 0">You are not following to anyone!</div>
  </div>
</div>
