<div class="container w-75 py-5 rounded" style="background-color: white">
  <div class="row justify-content-center">
    <div class="col-4">
      <h4>Most Trending HashTag</h4>
    </div>
    <div class="col-4">
      <h4>: {{ analytics?.MostTrending }}</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <h4>Total Tweets Today</h4>
    </div>
    <div class="col-4">
      <h4>: {{ analytics?.TotalTweetsToday }}</h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <h4>Most Tweets By</h4>
    </div>
    <div class="col-4">
      <h4>: {{ analytics?.MostTweetsBy }}</h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <h4>Most Like Tweet</h4>
    </div>
    <div class="col-4">
      <h4>: {{ analytics?.MostLiked }}</h4>
    </div>
  </div>
</div>
